@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}
.category__box {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s linear;
}

.category__box:hover {
  border-color: #17c964d3;
  transform: translateY(-5px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#navigation__container {
  padding: 10px;
  border-bottom: 1px solid #71717a4d;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

#navigation__container a {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#navigation__container a.active {
  background-color: #71717a3d;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-color: #17c964d3;
}
